<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login Test Suite">
  <test thread-count="5" name="Login Flow Happy path Test">
    <classes>
      <class name="WebAutomationTests.tests.StandAloneTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Login Negative Test">
    <classes>
      <class name="WebAutomationTests.tests.NegativeTests"/>
    </classes>
  </test>
  <test thread-count="5" name="Login Regression Test">
    <classes>
      <class name="WebAutomationTests.tests.StandAloneTest"/>
      <class name="WebAutomationTests.tests.NegativeTests"/>
    </classes>
  </test>
</suite> <!-- Suite -->
